<h2>Create an account</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="username">User name :</label>
        <input id="username" formControlName="username" type="text" />
    </div>

    <div>
        <label for="email">Email :</label>
        <input id="email" formControlName="email" type="email" />
    </div>

    <div>
        <label for="password">Password :</label>
        <input id="password" formControlName="password" type="password" />
    </div>

    <div>
        <label for="password_confirm">Confirm password :</label>
        <input id="password_confirm" formControlName="password_confirm" type="password" />
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Register</button>
</form>