<h2>Musics list</h2>

<div class="container mx-auto px-4 py-8">

        
    <app-music-search
        (searchChange)="onSearch($event.title, $event.genre)"
        [placeHolderTitle]="'search by title'"
        [placeHolderGenre]="'search by genre'"
        class="mb-8">
        
    </app-music-search>

    
        

    <div>
        <div *ngFor="let music of musics">
            <a [routerLink]="['/musics', music.id]">{{ music.title }}  </a>
            <a [routerLink]="['/performers', music.performer_id]">{{music.performer_name}}  </a>
            <h5>Genre: {{music.genre}}</h5>
        
        
        </div>
    </div>
    </div>


    <div class="mt-8 flex justify-center gap-4">
    <button
        (click)="previousPage()"
        [disabled]="currentPage === 0"
        class="px-4 py-2 bg-blue-500 text-white rounded disabled:opacity-50"
    >
        Précédent
    </button>
    <span class="py-2">Page {{currentPage + 1}}/{{numberOfPages}}</span>
    <button
        (click)="nextPage()"
        [disabled]="!hasNextPage"
        class="px-4 py-2 bg-blue-500 text-white rounded disabled:opacity-50"
    >
        Suivant
    </button>
    </div>

