

<h2>Update performer : {{ performerDetail.name }}</h2>


<div>
    <form [formGroup]="performerForm" (ngSubmit)="onSubmit()">

        <div>
            <label for="name">Name :</label>
            <input id="name" formControlName="name" type="text" />
            <div *ngIf="performerForm.get('name')?.invalid && performerForm.get('name')?.touched">
                <small>Name required.</small>
            </div>
        </div>


        


        <div>
            <label for="genre">Genre :</label>
            <input id="genre" formControlName="genre" type="text" />
            <div *ngIf="performerForm.get('genre')?.invalid && performerForm.get('genre')?.touched">
                <small>Genre required.</small>
            </div>
        </div>

        <div>
            <label for="origin">Origin :</label>
            <input id="origin" formControlName="origin" type="text" />
            <div *ngIf="performerForm.get('origin')?.invalid && performerForm.get('formation_year')?.touched">
                <small>Origin is required.</small>
            </div>
        </div>

        <div>
            <label for="birth_date">Birth date :</label>
            <input id="birth_date" formControlName="birth_date" type="date" />
            <div *ngIf="performerForm.get('birth_date')?.invalid && performerForm.get('formation_year')?.touched">
                <small>Enter a valid date.</small>
            </div>
        </div>

        <div>
            <label for="formation_year">Formation year :</label>
            <input id="formation_year" formControlName="formation_year" type="number" />
            <div *ngIf="performerForm.get('formation_year')?.invalid && performerForm.get('formation_year')?.touched">
                <small>Enter a valid year.</small>
            </div>
        </div>

        <button type="submit" [disabled]="performerForm.invalid">Send</button>
    </form>
</div>